@model datingApp.Infrastructure.Notifications.Views.Emails.AccessCode.AccessCodeEmailViewModel
@{
    var title = "AccessCodeEmail";
}

<h1>@title</h1>

<div>
    <p>@Model.AccessCode</p>
    <p>@Model.ExpirationTime</p>
</div>
